<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sansita+Swashed:wght@500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.2.45/css/materialdesignicons.min.css">
  <link type="text/css" rel="stylesheet" href="/css/magicscroll.css" />
  <script type="text/javascript" src="/js/magicscroll.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Eduvilla-Summary</title>
  <style>
    .search:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  </style>
  <title>Eduvilla-Fine</title>
</head>

<body class="bg-light">
  <%- include('../../partials/Student/header.ejs') -%>
  <%- include('../../partials/Student/searchbar.ejs') -%>

  <div class="container-fluid position-absolute" style="z-index:100;">
    <div class="row">
      
      <div class="col-12 float-right">
        <div class="float-right notification" style="width:fit-content;">
          
        </div>
      </div>
    </div>
  </div>


  <div class="container my-5">
    <div class="row bg-white shadow-sm">
      <div class="col-md-6 col-12 overflow-auto">
        <h3 class="ml-3 my-3">Paid</h3>
        <table class="table table-striped">
          <tr>
            <th class="p-2">#</th>
            <th class="p-2">Image</th>
            <th class="p-2">Book</th>
            <th class="p-2">Fine</th>
            <th class="p-2">Fine Status</th>
          </tr>
          <% for(var i=0;i<(issuedbooks.length);i++){ %>
            <% if(issuedbooks[i].finestatus =="paid"){ %>
          <tr>
            <td style="vertical-align: middle;" class="id" bookid="<%= issuedbooks[i].bookid %>">
              <%= issuedbooks[i].bookid %></td>
            <td><img src="<%= issuedbooks[i].imagepath %>" width="70px"></td>
            <td style="vertical-align: middle;"><b><%= issuedbooks[i].title %> </b><br><%= issuedbooks[i].author %></td>
            <td style="vertical-align: middle;"><%= issuedbooks[i].fine %>₹</td>
            <td style="vertical-align: middle;">
              <p class="badge badge-success p-2">Paid</p>
            </td>
          </tr>
          <% } %>
          <% } %>
        </table>
      </div>
      <div class="col-md-6 col-12 overflow-auto">
        <h3 class="ml-3 my-3">Not paid</h3>
        <table class="table table-striped">
          <tr>
            <th class="p-2">#</th>
            <th class="p-2">Image</th>
            <th class="p-2">Book</th>
            <th class="p-2">Fine</th>
            <th class="p-2">Fine Status</th>
          </tr>
          <% for(var i=0;i<(issuedbooks.length);i++){ %>
          <% if(issuedbooks[i].finestatus =="notpaid"){ %>
          <tr>
            <td style="vertical-align: middle;" class="id" bookid="<%= issuedbooks[i].bookid %>">
              <%= issuedbooks[i].bookid %></td>
            <td><img src="<%= issuedbooks[i].imagepath %>" width="70px"></td>
            <td style="vertical-align: middle;"><b><%= issuedbooks[i].title %> </b><br><%= issuedbooks[i].author %></td>
            <td style="vertical-align: middle;" class="fine" val='<%= issuedbooks[i].fine %>'>
              <%= issuedbooks[i].fine %>₹</td>
            
            <td style="vertical-align: middle;">
              <p class="badge badge-danger p-2">Not Paid</p>
            </td>
            
          </tr>
          <% } %>
          <% } %>
          <tr class="d-none nofine">
            <td colspan="5" class="text-center"><i class="text-muted">No fine to pay.</i></td>
          </tr>
          <tr class="payfine">
            <td colspan="5" style="vertical-align: middle;text-align:right;">
              <button class="btn btn-success py-2 pay_now" style="width: 150px;">Pay Now</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <%- include('../../partials/Student/realchat.ejs') -%>
</body>
<script>
  $(document).ready(() => {
    var amount = parseInt(0);
    $('.fine').each(function () {
      amount = amount + parseInt($(this).attr("val"));
    })
    if(amount==0)
    {
      $('.payfine').addClass('d-none');
      $('.nofine').removeClass('d-none');
    }
    else
    {
      $('.payfine').removeClass('d-none');
    }
    $('.pay_now').on('click', () => {
      $.ajax({
        type: "POST",
        url: "/student/pay_now",
        data: {
          amount: amount
        },
        success: function (response) {

          if (response.trim() == "done") {
              $(".notification").html(
                " <div class='row animate__animated animate__slideInRight'><div class='col-3 d-flex justify-content-center align-items-center' style='background-color: rgb(33, 194, 33);'><i class='fa fa-check-circle text-light fa-2x'></i></div><div class='col-9 text-light pr-5 py-2' style='background-color: #32CD32'><h5 class='m-0'>Success</h5><p class='text-nowrap'>Please check your email to make payment</p></div></div>"
                );
              setTimeout(function () {
                $(".notification").html("");
              }, 3500)
          } 

        }
      })
    })

  })
</script>

</html>