<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.2.45/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script> 
    <link rel="stylesheet" href="/css/style.css">
    <title>Eduvilla-Add items</title>
</head>
<%- include('../../partials/Admin/sidebar.ejs') -%>
<%- include('../../partials/Admin/navbar.ejs') -%>

<span class="d-flex pt-3 pl-3"><a href="/Admin/Dashboard" style="text-decoration: none;">Dashboard</a>><p class="text-muted">Admin</p>><p class="text-muted">Add Items</p></span>
<div class="container-fluid position-absolute additem_top" style="z-index:100;">
    <div class="row">
      
      <div class="col-12 float-right">
        <div class="float-right notification" style="width:fit-content;">
          
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-1 p-0"></div>
        <div class="col-10 bg-white shadow-sm rounded p-0">
       <h3 class="m-3">Add item</h3>
            <form class="form">
            <div class="row mx-1">
                <div class="col-lg-4 col-md-6 my-1">
                    <label>Book ID *</label>
                    <input type="text" name="bookid" class="form-control bg-light py-2 border-0 shadow-sm book" required>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <label>Title *</label>
                    <input type="text" name="title" class="form-control bg-light border-0 shadow-sm title" required>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <label>Author *</label>
                    <input type="text" name="author" class="form-control bg-light border-0 shadow-sm author" required>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <label>Publisher *</label>
                    <input type="text" name="publisher" class="form-control bg-light border-0 shadow-sm publisher" required>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <label>Price *</label>
                    <input type="text" name="price" class="form-control bg-light border-0 shadow-sm price" required>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <label>Availability *</label>
                    <input type="text" name="availability" class="form-control bg-light border-0 shadow-sm availability" required>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <label>Category *</label>
                    <input type="text" name="category" class="form-control bg-light border-0 shadow-sm category" required>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <label>Book Image *</label>
                    <input type="file" name="bookpic" class="bg-light mb-3 py-2 shadow-sm w-75 image" required>
                </div>
                </div>
                <div class="row my-3 mx-1">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 col-sm-12 mt-md-4">
                        <button class="btn btn-primary mx-2" type="submit">Add item</button>
                        <button class="btn btn-danger" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-1 p-0"></div>
    </div>
</div>
<div class="container-fluid p-0 px-4 mb-5">
    <div class="row mx-1">
        <div class="col-12 bg-white rounded shadow-sm p-0 overflow-auto">
            
            <div class="container mt-3">
                <div class="d-flex"><h3 class="mb-2">Books</h3>
                    <form class="ml-auto">
                        <input class="form-control-sm mr-md-2 py-3 bg-light border-0 shadow-sm w-50" placeholder="Search">
                        <button class="btn btn-outline-dark btn-sm mb-1" type="submit">Search</button>
                      </form></div>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Category</th>
                    <th>Availability</th>
                </tr>
               <% for(var i=0;i<bookdata.length;i++){ %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><img src="<%= bookdata[i].ImagePath %>" width="50px"></td>
                    <td><%= bookdata[i].title %></td>
                    <td><%= bookdata[i].author %></td>
                    <td><%= bookdata[i].publisher %></td>
                    <td><%= bookdata[i].category %></td>
                    <% if( bookdata[i].availability == "Yes"){ %>
                        <td><h5><span class="badge badge-success p-2">Yes</span></h5></td>
                        <% } else { %>
                        <td><h5><span class="badge badge-danger p-2">No</span></h5></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
<%- include('../../partials/Student/realchat.ejs') -%>
<script>
    $(document).ready(function(){
      $(".form").submit(function(e){
          e.preventDefault();
          $.ajax({

            type: "POST",
            url: "/Admin/bookform",
            data: new FormData(this),
            enctype: 'multipart/form-data',
            contentType: false,
            processData: false,
            cache: false,
              success : function(response){
                if (response.trim() == "success") {
              $(".notification").html(
                " <div class='row animate__animated animate__slideInRight'><div class='col-3 d-flex justify-content-center align-items-center' style='background-color: rgb(33, 194, 33);'><i class='fa fa-check-circle text-light fa-2x'></i></div><div class='col-9 text-light pr-5 py-1' style='background-color: #32CD32'><h5 class='m-0'>Success</h5><p class='text-nowrap'>Added successfully !!</p></div></div>"
                );
              setTimeout(function () {
                $(".notification").html("");
              }, 2000)
            } else {
              $(".notification").html(
                "<div class='row animate__animated animate__slideInRight'><div class='col-3 d-flex justify-content-center align-items-center' style='background-color: #F8210F'><i class='fas fa-times-circle text-light fa-2x'></i></div><div class='col-9 text-light pr-5 py-1' style='background-color: #FF392F;'><div><h5 class='m-0'>Error</h5><p class='text-nowrap'>Something went wrong!</p></div></div></div>"
                );
              setTimeout(function () {
                $(".notification").html("");
              }, 2000)
            }
              }
          })
      })
    })
</script>
</body>
</html>