<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sansita+Swashed:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.2.45/css/materialdesignicons.min.css">
    <title>Eduvilla-DashBoard</title>
</head>
<%- include('../../partials/Admin/sidebar.ejs') -%>

<%- include('../../partials/Admin/navbar.ejs') -%>
<div class="container-fluid">
    <span class="d-flex py-3"><a href="/Admin/Dashboard" style="text-decoration: none;">Dashboard</a>><p
            class="text-muted">Admin</p></span>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="container-fluid">
                <div class="row mb-md-4 mb-sm-2">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="bg-white shadow-sm rounded-lg">
                            <i class="fas fa-user-graduate mt-4 text-primary" style="font-size:48px;"></i>
                            <h4 class="my-2"><%= students[0].students %></h4>
                            <p class="mb-2 font-small">Total Students</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="bg-white shadow-sm rounded-lg">
                            <i class="fas fa-book mt-4 text-pink" style="font-size:48px;"></i>
                            <h4 class="my-2"><%= books[0].books %></h4>
                            <p class="mb-2 font-small">Total Books</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="bg-white shadow-sm rounded-lg">
                            <i class="fas fa-check-circle mt-4 text-success" style="font-size:48px;"></i>
                            <h4 class="my-2"><%= bookavail[0].bookavail %></h4>
                            <p class="mb-2 font-small">Total Available</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="bg-white shadow-sm rounded-lg">
                            <i class="fas fa-arrow-right mt-4 text-danger" style="font-size:48px;"></i>
                            <h4 class="my-2"><%= books[0].books - bookavail[0].bookavail %></h4>
                            <p class="mb-2 font-small">Total Issued</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
            <div class="container-fluid bg-white rounded-lg shadow-sm" style="overflow:hidden">
                <div class="d-flex justify-content-between">
                    <h3 class="pt-3">Books</h3>
                    <h3>
                        <div class="dropdown dropleft">
                            <a href="#" class="text-muted nav-link" data-toggle="dropdown">...</a>
                            <div class="dropdown-menu p-0 m-0">
                                <a href="#" class="dropdown-item"><i
                                        class="fas fa-redo-alt text-success mr-2"></i>Refresh</a>
                                <a href="#" class="dropdown-item"><i class="far fa-edit text-warning mr-2"></i>Edit</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-times text-danger mr-2"></i>Close</a>
                            </div>
                        </div>
                    </h3>
                </div>
                <div id="piechart"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
            <div class="container-fluid bg-white rounded-lg shadow-sm"
                style="height: 320px;overflow-y: scroll;overflow-x: hidden;">
                <div class="d-flex justify-content-between">
                    <h3 class="pt-3">Notifications</h3>
                    <h3>
                        <div class="dropdown">
                            <a href="#" class="text-muted nav-link" data-toggle="dropdown">...</a>
                            <div class="dropdown-menu p-0 m-0">
                                <a href="#" class="dropdown-item"><i
                                        class="fas fa-redo-alt text-success mr-2"></i>Refresh</a>
                                <a href="#" class="dropdown-item"><i class="far fa-edit text-warning mr-2"></i>Edit</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-times text-danger mr-2"></i>Close</a>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="container-fluid">
                    <div class="row  mt-3">
                        <div class="col-12">
                            <span class="badge badge-pill badge-primary text-light p-2">19 June,2019</span>
                            <p class="font-small">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</p>
                        </div>
                        <div class="col-12">
                            <span class="badge badge-pill badge-success text-light p-2">19 June,2019</span>
                            <p class="font-small">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</p>
                        </div>
                        <div class="col-12">
                            <span class="badge badge-pill badge-danger text-light p-2">19 June,2019</span>
                            <p class="font-small">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</p>
                        </div>
                        <div class="col-12">
                            <span class="badge badge-pill badge-warning text-light p-2">19 June,2019</span>
                            <p class="font-small">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0 px-4">
    <div class="row mb-4">
        <div class="col-12 p-0 bg-white shadow-sm rounded-lg overflow-auto">
            <div class="d-flex">
                <h3 class="m-3">Books summary</h3>
                <form class="ml-auto mt-3">
                    <input class="form-control-sm mr-md-2 py-3 bg-light border-0 shadow-sm w-50" placeholder="Search">
                    <button class="btn btn-outline-dark btn-sm mb-1" type="submit">Search</button>
                </form>
            </div>
            <div class="text-center mx-3">
                <table class="table table-striped">
                    <tr>
                        <th class="p-2">#</th>
                        <th class="p-2">Image</th>
                        <th class="p-2">Book</th>
                        <th class="p-2">E-mail</th>
                        <th class="p-2">Fine</th>
                        <th class="p-2">Fine Status</th>
                    </tr>
                    <% for(var i=0;i<studentdata.length;i++){ %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><img src="<%= studentdata[i].imagepath %>" width="70px"></td>
                        <td style="vertical-align: middle;"><b><%= studentdata[i].title %> </b><br><%= studentdata[i].author %></td>
                        <td><%= studentdata[i].email %></td>
                        <td style="vertical-align: middle;"><%= studentdata[i].fine %>₹</td>
                        <% if(studentdata[i].finestatus =="paid"){ %>
                            <td style="vertical-align: middle;"><p class="badge badge-success p-2">Paid</p></td>
                          <% }else{ %>
                                <% if(studentdata[i].fine > 0){ %>
                                  <td style="vertical-align: middle;"><p class="badge badge-danger p-2">Not paid</p></td>
                                <% }else{ %>
                                  <td style="vertical-align: middle;"><p class="badge badge-success p-2">No Fine</p></td>
                                <% } %>
                          <% } %>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<%- include('../../partials/Student/realchat.ejs') -%>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {
        'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Available', 7],
            ['Issued', 3],
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {
            'width': 300,
            'height': 260
        };
        // 
        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
</body>
</html>